
h2{
    margin-bottom: 20px;  
    position: relative;
}
h5{
    text-align: center;
    font-size: 30px;
    color: red;
    font-weight: bold;
    padding: 237px;
    border: 3px solid black;
}

hr{
    margin-bottom: 20px;
    border: 1px solid rgb(80, 80, 80);
    background-color: rgb(80, 80, 80);
}
.row-cart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
    align-items: center;
    border: 2px solid rgb(68, 58, 58); 
}

.col-2{
    width: 25%;
    line-height: 25px;
    display: flex;
    justify-content: flex-start;
}
.add-remove{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add{
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 8px 20px;
    border: 1px solid black;
    transition: all 0.3s ease-out;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.add:hover{
    background: rgb(153, 4, 4);
    color: white;
    transition: all 0.3s ease-out;
}
.remove{
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 8px 20px;
    border: 1px solid black;
    transition: all 0.3s ease-out;
    width: 50px;
    height: 50px;
}

.remove:hover{
    background: rgb(153, 4, 4);
    color: white;
    transition: all 0.3s ease-out;
}
.price{
    background: rgb(228, 228, 228);
    padding: 25px;
    position: relative;
}
.payment{
    text-align: center;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(177, 65, 65);
}
.payment::after{
    content: '';
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 3px;
    height: 50%;
    background: linear-gradient(90deg, rgb(255, 59, 59) 0%, rgb(252, 202, 202) 100%);;
    margin: 0px auto;
}
.row-price{
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.total{
    font-size: 17px;
    font-weight: bold;
}
.button-price{
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 8px 20px;
    border: 1px solid black;
    transition: all 0.3s ease-out;
}
.button-price:hover{
    background: rgb(153, 4, 4);
    color: white;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px) {
    .row-cart{
        display: flex;
        flex-direction: column;
        padding: 25px;
        align-items: center;
        border: 2px solid rgb(68, 58, 58); 
    }
    .img-cart{
        width: 250px;
        height: 210px;
    }
    .col-2{
        width: 100%;
        line-height: 25px;
    }    
    .add,
    .remove{
        display: flex;
        justify-content: center;
        width: 35px;
        height: 35px;
    }
    .cart-cart{
        display: none;
    }
}
